// Colors
$grey: #0a1470;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;

// Navigation colors
$nav-background: $grey;
$nav-text-color: #B5D0E2;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;


//Login Variables
$brand-color2: #2199e8;

$brand-color: #6CC0E5;
$very-light-grey: #333333;


$dark-brand-color: #41ADDD;
$error-color: #FB4F4F;

$background-color: #FAFAFA;
$very-light-grey: #EDEDED;
$light-grey: #CCC;
$mid-grey: #999;
$dark-grey: #666;
$very-dark-grey: #333;
$text-color: #222;

$max-width: 768px;
$nav-height: 5em;
$wrapper-padding: 16px;


