.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}


.text-section {
  margin: 3em auto;
}

.btn {
  padding: 0.5em 1.5em;
  color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.btn:hover {
  color: white;
  background-color: $brand-color;
}

.btn + .btn {
  margin-left: 1em;
}

.btn--loading {
  color: white;
  background-color: $brand-color;
}

.form-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-page__form-wrapper {
  max-width: 325px;
  width: 100%;
  border: 1px solid $very-light-grey;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form-page__form-heading {
  text-align: center;
  font-size: 1em;
  user-select: none;
}

.form-page__form-header {
  padding: 1em;
}